<div class="card mb-4 toroide-card">
    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title toroide-card-title">{{ post.title }}</h2>
        <small class="toroide-card-posted">Posted on {{ post.createdAt | date("F jS \\a\\t g:ia") }} by <a href="{{ path('spiral_front_about', {'authorSlug': post.author.slug}) }}">{{ post.author.name }}</a> on <a href="{{ path('spiral_front_category', {'categorySlug': post.category.slug}) }}">{{ post.category.title }}</a></small>

        <!-- Tags -->
        {{ include('frontend/toroide/partials/post/tags.html.twig') }}

        <p class="card-text toroide-post-card-text">{{ post.body | raw }}</p>
    </div>
</div>