<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>

            {% block metadata %}{% endblock %}

            <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            {% endblock %}
        </head>
    <body>
        <div class="container">
            {% block header %}
                {{ include('frontend/toroide/partials/header.html.twig') }}
            {% endblock %}

            {% block navigator %}
                {{ render(controller( 'App\\Controller\\Frontend\\BlogController::renderNavigator')) }}
            {% endblock %}

            {% block jumbotron %}
                {#{{ include('frontend/toroide/partials/home/jumbotron.html.twig') }}#}
            {% endblock %}

            {% block featured_posts %}
                <div class="row mb-2">
                    {% for featuredpost in featuredPosts %}
                        {{ include('frontend/toroide/partials/home/featured_post.html.twig') }}
                    {% endfor %}
                </div>
            {% endblock %}

            {% block container %}
                {% block content %}{% endblock %}
                {% block right_sidebar %}
                    <div class="col-md-4 spiralcms-right-bar">

                        {{ render(controller( 'App\\Controller\\Frontend\\BlogController::renderSearch')) }}

                        <!-- Side Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">Side Widget</h5>
                            <div class="card-body">
                                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                            </div>
                        </div>

                    </div>
                {% endblock %}
            {% endblock %}
        </div>

        {% block footer %}
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

        {% block rich_snippets %}{% endblock %}
    </body>
</html>