{% extends 'frontend/toroide/base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block container %}
    <div class="container">
        <div class="row">

            {% block jumbotron %}{% endblock %}
            {% block featured_posts %}{% endblock %}

            {% block content %}
                <div class="col-md-8 spiralcms-blogentries-content">
                    <div class="card mb-4 spiral-card">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title spiral-card-title">{{ post.title }}</h2>
                            <small class="spiral-card-posted">Posted on {{ post.createdAt | date("F jS \\a\\t g:ia") }} by <a href="#">{{ post.author.name }}</a> on <a href="#">{{ post.category.title }}</a></small>
                            <p class="card-text spiral-post-card-text">{{ post.body }}</p>
                        </div>
                    </div>

                    <!-- Share this -->
                    <hr>
                    <div class="card mb-4 spiral-card">
                        <div class="card-body spiral-social-links spiral-col-center">
                            <a href="#" class="fa fa-facebook spiral-share-button"></a>
                            <a href="#" class="fa fa-twitter spiral-share-button"></a>
                            <a href="#" class="fa fa-linkedin spiral-share-button"></a>
                        </div>
                    </div>


                    <!-- Related posts -->
                    <div class="card mb-4 spiral-card">
                        <div class="card-body">
                            <h2 class="card-title spiral-card-title">Related posts</h2>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">Uno</div>
                                <div class="col-md-4">Dos</div>
                                <div class="col-md-4">Tres</div>
                            </div>
                        </div>
                    </div>

                    <!-- Author -->
                    <div class="card mb-4 spiral-card">
                        <div class="card-body">
                            <h2 class="card-title spiral-card-title">Author</h2>
                            <hr>
                        </div>
                    </div>






                </div>
            {% endblock %}
            {% block right_sidebar %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block rich_snippets %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Lecture 12: Graphs, networks, incidence matrices",
            "alternateName": "Lecture 12: Graphs, networks, incidence matrices",
            "description": "These video lectures of Professor Gilbert Strang teaching 18.06 were recorded in Fall 1999 and do not correspond precisely to the current  edition of the textbook.",

            "publisher": {
                "@type": "CollegeOrUniversity",
                "name": "MIT OpenCourseWare"
            },
            "license": "http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US"
        }
    </script>
{% endblock %}