{% extends 'frontend/toroide/base.html.twig' %}

{% block metadata %}
    {{ get_metadata('{
        "title": "Gorkamu",
        "description": "Gorkamu gorkamu",
        "viewport": "width=device-width, initial-scale=1",
        "og": {
            "site_name": "'~app.request.uri~'",
            "title": "Gorkamu gorkamu",
            "url": "'~app.request.uri~'",
            "type": "blog",
            "description": "Gorkamu gorkamu",
            "image": "ASD"
        }
}') }}



{{ get_jsonld('{
    "@context": "http://schema.org",
    "@type": "SearchResultsPage",
    "mainEntity": [
        {
            "@type": "ItemList",
            "name": "Primary Care Physicians Chicago, IL 60646",
            "itemListOrder": "http://schema.org/ItemListOrderAscending",
            "itemListElement":[
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@type": "Physician",
                        "url": "https://healthjoy.com/doctor/bernadette-b-mayer/5365-w-devon-ave-chicago-il-60646/"
                    }

                },
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@type": "Physician",
                        "url": "https://healthjoy.com/doctor/bernadette-b-mayer/5365-w-devon-ave-chicago-il-60646/"
                    }
                }
            ]
        }
    ]
}') }}
{% endblock %}
{#http://schema.org/SearchResultsPage#}
{% block container %}
    <div class="container">
        <div class="row">

            {% block jumbotron %}{% endblock %}
            {% block featured_posts %}{% endblock %}

            {% block content %}
                <div class="col-md-8 toroide-content">
                    <div class="card mb-4 toroide-card">
                        <div class="card-body">
                            <small class="toroide-result-text">Mostrando <span style="color: #ff0099;">{{ count }}</span> {% if count == 1 %}resultado{% else %}resultados{% endif %} para <span class="toroide-search-result-input"><i>{{ searchInput }}</i></span></small>
                        </div>
                    </div>

                    {% for post in posts %}
                        {{ include('frontend/toroide/partials/_post-list-card.html.twig') }}
                    {% endfor %}

                </div>
            {% endblock %}

            {% block right_sidebar %}
                {{ parent() }}
            {% endblock %}

        </div>
    </div>
{% endblock %}